[Unit]
Description=Discord MusicBot
After=network.target
StartLimitIntervalSec=120
StartLimitBurst=5

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/musicbot

Environment="PATH=/home/ubuntu/musicbot/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin" "PYTHONMALLOC=malloc" "MALLOC_TRIM_THRESHOLD_=65536"
EnvironmentFile=/home/ubuntu/musicbot/.env
ExecStart=/home/ubuntu/musicbot/.venv/bin/python bot.py


CPUSchedulingPolicy=rr
CPUSchedulingPriority=99
Nice=-20

Restart=on-failure
RestartSec=5
TimeoutStopSec=30
SyslogIdentifier=musicbot


MemoryMax=700M
OOMScoreAdjust=-500  # Changed from 500 to -500 to protect it from the OOM Killer
LimitNOFILE=65536
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
